
.content__body {
  padding: 0 0 0 45px;
}

.content {
  background-color: #F1F1F1;
  padding: 25px 0;
}

.content__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.content__list {
  line-height: 1.2;
  color: #02535F;
  padding: 0 0 0 25px;
}

.content__item {
  list-style-type: decimal;
}

.content__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.content__link {
  border-bottom: 1px solid #02535F;
}