

.content__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.content__item--border {
  border: 1px solid #000000;
}

.content__picture--500 {
  max-width: 500px;
}

.content__picture--600 {
  max-width: 600px;
}

.content__picture--964 {
  max-width: 964px;
}

.content__picture--1022 {
  max-width: 1022px;
}

.content__picture--317 {
  max-width: 317px;
}
.content__important {
  display: block;
  line-height: 1.2;
  color: #5E5E5E;
  padding: 30px 30px 15px 30px;
}