
.indent-previous {
  padding: 50px 0 25px 0;
}

.indent-previous__container:not(:last-child) {
  margin: 0 0 30px 0;
}

.indent-previous__picture {
  display: inline-block;
  vertical-align: top;
}

.indent-previous__text {
  max-width: 480px;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 30px;
}

.indent-previous__text--indentLeft {
  padding: 0 30px 0 0;
}